/*
  Default styles and mobile first
*/

.card-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid #dfe1e5;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  max-width: 534px;
  margin-bottom: 16px;
  .card-meta {
    display: flex;
    flex-direction: column;
    padding: 16px;
    /* background-color: aqua; */
    > span:first-child {
      margin-bottom: 8px;
    }
  }
  .card-text {
    /* background-color: red; */
    word-break: break-all;
    padding: 8px;
    max-width: 380px;
    .card-arabic {
      margin-bottom: 8px;
    }
  }
}
