/*
  Default styles and mobile first
*/

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  /* background: black; */
  width: 282px;
}

input {
  font-size: 16px;
  height: 32px;
  border-radius: 24px;
  border: none;
  padding: 8px 8px 8px 24px;
  /* background: red; */
  min-width: 250px;
}

input:focus {
  outline: none;
}

button {
  font-size: 16px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  padding: 8px;
  width: max-content;
  cursor: pointer;
  margin-top: 16px
}

button:hover {
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
}

button:focus {
  outline: none;
}

/*
  Override for desktop
*/

@media only screen and (min-width: 768px) {
  .search-container {
    width: 532px;
  }

  input {
    width: 500px;
  }
}
